{% extends "layout.html" %}

{% block title %}
    Password Reset Sent
{% endblock %}

{% block content %}
    <div class="main-title">
        Password Reset
    </div>
    <div class="main">
        <div class="main-content">
            <section class="login">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="fs-30">Check Your Email</h4>
                            </div>
                            <div class="box-body">
                                <p>An email has been sent to your inbox with instructions to reset your password.</p>
                                <div class="mt-37 text-center">
                                    <p class="text-muted mb-0 fs-14">Don't receive the email? <a href="#" class="text-primary fw-semibold">Resend</a></p>
                                    <p><a href="/users/login/" class="text-primary fw-semibold">Back to Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
