
{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock  %}



{% block content %}

    {% block maintitle %}
        <div class="main-title">
         Profile
        </div>
    {% endblock maintitle %}

    <!-- Style for the table ticket view -->
    <style>
        .bg-color-4 {
            background-color: #e9f5fa; /* Lighter Blue for Closed Tickets to match others */
        }

        .bg-icon-4 {
            background: #2c94b6;
            background: -moz-linear-gradient(top, #2c94b6 0%, #a5d9e9 100%);
            background: -webkit-linear-gradient(top, #2c94b6 0%, #a5d9e9 100%);
            background: linear-gradient(to bottom, #2c94b6 0%, #a5d9e9 100%);
        }
    </style>

    <!-- MAIN CONTENT -->
    <div class="main">
        <div class="main-content user">
            <div class="row">
                <div class="col-9 col-xl-12">
                    <!-- Start of the changes for the table ticket view -->
                    <div class="box card-box mb-20">
                        <!-- Total Task Card --> 
                        <div class="icon-box bg-color-1">
                            <div class="icon bg-icon-1">
                                <i class='bx bxs-briefcase'></i>
                            </div>
                            <div class="content">
                                <h5 class="title-box">Open Tickets</h5>
                                <p class="color-1 mb-0 pt-4">{{ open_count_p }} Open Tickets</p>
                            </div>
                        </div>
                        <!-- Running Task Card -->
                        <div class="icon-box bg-color-2">
                            <div class="icon bg-icon-2">
                                <i class='bx bx-task'></i>
                            </div>
                            <div class="content">
                                <h5 class="title-box">In Progress Tickets</h5>
                                <p class="color-2 mb-0 pt-4">{{ in_progress_count_p }} In Progress Tickets</p>
                            </div>
                        </div>
                        <!-- On Hold Task Card -->
                        <div class="icon-box bg-color-3">
                            <div class="icon bg-icon-3">
                                <i class='bx bx-block'></i>
                            </div>
                            <div class="content">
                                <h5 class="title-box">Resolved Tickets</h5>
                                <p class="color-3 mb-0 pt-4">{{ resolved_count_p }} Resolved Tickets</p>
                            </div>
                        </div>
                        <!-- Complete Task Card -->
                        <div class="icon-box bg-color-4">
                            <div class="icon bg-icon-4">
                                <i class='bx bx-task color-white'></i>
                            </div>
                            <div class="content">
                                <h5 class="title-box">Closed Tickets</h5>
                                <p class="color-4 mb-0 pt-4">{{ closed_count_p }} Closed Tickets</p>
                            </div>
                        </div>                       
                    </div>
                    <div class="box">
                        <div class="box-body pb-30">
                            <form method="get" action="" id="filterForm">
                                <div class="row align-items-center">
                                    <!-- From Date -->
                                    <div class="col-md-3 col-lg-3 mb-0">
                                        <div class="form-group">
                                            <label class="form-label">From:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class='bx bx-calendar'></i></div>
                                                </div>
                                                <input name="from_date" class="form-control fc-datepicker" placeholder="YYYY-MM-DD" type="date" value="{{ request.GET.from_date }}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- To Date -->
                                    <div class="col-md-3 col-lg-3 mb-0">
                                        <div class="form-group">
                                            <label class="form-label">To:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class='bx bx-calendar'></i></div>
                                                </div>
                                                <input name="to_date" class="form-control fc-datepicker" placeholder="YYYY-MM-DD" type="date" value="{{ request.GET.to_date }}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Select Priority -->
                                    <div class="col-md-3 col-lg-3 mb-0">
                                        <div class="form-group">
                                            <label class="form-label">Select Priority:</label>
                                            <select name="priority" class="form-control custom-select select2">
                                                <option value="">Select Priority</option>
                                                <option value="High" {% if request.GET.priority == "High" %}selected{% endif %}>High</option>
                                                <option value="Medium" {% if request.GET.priority == "Medium" %}selected{% endif %}>Medium</option>
                                                <option value="Low" {% if request.GET.priority == "Low" %}selected{% endif %}>Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Search Button -->
                                    <div class="col-md-2 col-lg-2 mb-0">
                                        <div class="form-group mt-32">
                                            <button type="submit" class="btn bg-primary btn-block color-white">Search</button>
                                        </div>
                                    </div>
                                    <!-- Reset Button -->
                                    <div class="col-md-2 col-lg-1 mb-0">
                                        <div class="form-group mt-32">
                                            <a href="/users/profile/" class="btn btn-secondary btn-block">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer"
                                       id="task-profile" role="grid">
                                    <thead>
                                        <tr class="top">
                                            <th class="border-bottom-0 text-center sorting fs-14 font-w500" style="width: 26.6562px;">No</th>
                                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 222.312px;">Task</th>
                                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 84.8281px;">Priority</th>
                                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 87.9844px;">Start Date</th>
                                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 87.9844px;">Deadline</th>
                                            <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 110.719px;">Work Status</th>
                                            <th class="border-bottom-0 sorting_disabled fs-14 font-w500" style="width: 145.391px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in assigned_tickets %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>
                                                <a href="javascript:void(0);" data-bs-toggle="modal"
                                                   data-bs-target="#ticketDetailModal"
                                                   onclick="showTicketDetails('{{ ticket.pk }}')">
                                                    {{ ticket.title }}
                                                </a>
                                            </td>
                                            <td>
                                                <span
                                                    class="badge {% if ticket.priority == 'High' %}badge-danger-light{% elif ticket.priority == 'Medium' %}badge-warning-light{% elif ticket.priority == 'Low' %}badge-success-light{% elif ticket.priority == 'Critical' %}badge-danger{% endif %}">
                                                    {{ ticket.priority }}
                                                </span>
                                            </td>
                                            <td>{{ ticket.created_at|date:"d-m-Y" }}</td>
                                            <td>{{ ticket.due_date|date:"d-m-Y" }}</td>
                                            <td>
                                                <span
                                                    class="badge {% if ticket.status == 'Open' %}badge-primary{% elif ticket.status == 'In Progress' %}badge-warning{% elif ticket.status == 'Resolved' %}badge-success{% elif ticket.status == 'Closed' %}badge-secondary{% endif %}">
                                                    {{ ticket.status }}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown"
                                                       aria-expanded="false">
                                                        <i class='bx bx-dots-horizontal-rounded'></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item"
                                                           href="{% url 'update_ticket' ticket.pk %}"><i
                                                                class="bx bx-edit mr-5"></i>Edit</a>
                                                        <a class="dropdown-item"
                                                           href="{% url 'delete_ticket' ticket.pk %}"><i
                                                                class="bx bx-trash"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center">No tickets assigned to you.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <!-- End of the changes for the table ticket view -->
                </div>
                <div class="col-3 col-xl-12">
                    <div class="box user-pro-list overflow-hidden mb-30">
                        <div class="box-body">
                            <div class="user-pic text-center">
                                <div class="pro-user mt-40">
                                    <h6 class="pro-user-desc text-muted fs-14">{{ user.username }}</h6>
                                    <h6 class="pro-user-desc text-muted fs-14">{{ user.email }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer pt-38">
                            <div class="btn-list text-center">
                                <a href="#" class="btn btn-light"><i class='bx bxs-envelope' ></i> </a>
                                <a href="/users/profile/edit/" class="btn btn-light"> <i class='bx bxs-message-alt-edit'></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="box left-dot pt-39 mb-30">
                        <div class="box-header border-0">
                            <div class="box-title fs-20 font-w600">Basic Info</div>
                        </div>
                        <div class="box-body pt-16 user-profile">
                            {% if profile %}
                                <div class="table-responsive">
                                    <table class="table mb-0 mw-100 color-span">
                                        <tbody>
                                            <tr>
                                                <td class="py-2 px-0"><span class="w-50">First name</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ profile.first_name }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="py-2 px-0"><span class="w-50">Last name</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ profile.last_name }}</span></td>
                                            </tr>
                                            {% comment %} <tr>
                                                <td class="py-2 px-0"><span class="w-50">Designation</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ profile.role }}</span></td>
                                            </tr> {% endcomment %}
                                            <tr>
                                                <td class="py-2 px-0"><span class="w-50">Join Date</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ user.date_joined|date:"F j, Y" }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="py-2 px-0"><span class="w-50">Phone Number</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ profile.phone_number }}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>No profile information available.</p> <!-- Message for users without a profile -->
                            {% endif %}
                        </div>
                    </div>
                    
                    
                </div>
            </div>


        </div>
    </div>
    <!-- END MAIN CONTENT -->
{% endblock  %}